

.container{
    max-width: 1440px;
    padding: 0;
    margin: auto;
}

.title{
    margin: auto;
    width: 100%;
}

.titleMenu{
    width: 100%;
}

.bgNav{
    background: #7F2BC1;
}

.navbar-toggler{
    background: white;
}

.navGroup .nav-link{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    color: white;
}

.logoTitle img{
    width: 100%;
    height: 100%;
    max-width: 346px;
    margin: auto;
}

.regBtnTitle{
    height: 60px;
    background: #7F2BC1;
    border-radius: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    line-height: normal;
    color: #FFFFFF;
    outline: none!important;
}

.logoTitle{
    padding: 20px 40px;
}

.menu{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    color: #7F2BC1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 216px;
}

.mainTitle{
    padding-top: 40px;
}

.mainLeft{
    padding-left: 50px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: normal;
    color: #535452;
}

.mainLeft h1{
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3.5vw;
    line-height: normal;
    color: #535452;
}

.mainLeft span{
    padding-bottom: 20px;
}

.giftBtn{
    max-height: 60px;
    margin-top: 20px;
    background: #7F2BC1;
    border-radius: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: normal;
    color: #FFFFFF;
    outline: none!important;
}

.mainRight img{
    width: 100%;
}

.ourServices{
    margin-top: 170px;
    margin-bottom: 170px;
}

.servicesHeader{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    line-height: normal;
    color: #535452;
}

.servicesItems{
    margin-top: 46px;
}

.servicesItems h3{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: normal;
    color: #FFFFFF;
    margin-top: 113%;
}

.servicesItems span{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    max-width: 229px;
}

.leftItem{
    background: url("images/LIST.svg"), no-repeat;
    background-size: contain;
    margin: auto;
    min-height: 591px;
    /*min-width: 360px;*/
    max-width: 360px;
}

.middleItem{
    background: url("images/CART.svg"), no-repeat;
    background-size: contain;
    margin: auto;
    min-height: 591px;
    /*min-width: 360px;*/
    max-width: 360px;
}

.rightItem{
    background: url("images/FRIENDS.svg"), no-repeat;
    background-size: contain;
    margin: auto;
    min-height: 591px;
    /*min-width: 360px;*/
    max-width: 360px;
}

.aboutUs{
    background: url("images/aboutBG.svg"), no-repeat;
    background-size: cover;
    min-height: 700px;
    max-width: 100%;
    margin: 0;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.aboutUsHeader{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    line-height: normal;
    color: #535452;
    /*max-height: 100px;*/
}

.aboutLeft h3, .aboutRight h3{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: normal;
    color: #535452;
}

.aboutLeft span, .aboutRight span{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    color: #535452;
}

.aboutUs img{
    width: 100%;
}

.registration{
    margin: auto;
    padding-top: 85px;
    padding-bottom: 131px;
    background: #FFFFFF;
}

.regHeader{
    max-width: 100%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    color: #535452;
}

.regForm input{
    margin: 20px 0;
    height: 60px;
    background: #FFFDFD;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    outline: none;
}


.check span{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #535452;
}

.regForm label{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #535452;
    margin-bottom: 20px;
}

.regForm input::placeholder{
    color: #535452;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: medium;
    line-height: normal;
}

.regBtn{
    height: 60px;
    background: #7F2BC1;
    border-radius: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    line-height: normal;
    color: #FFFFFF;
    outline: none!important;
}

.lendBts img{
    width: 100%;
}

@media (min-width: 768px) {
    .regBtn{
        font-size: 2vw!important;
    }
    .regBtnTitle{
        font-size: 1.5vw!important;
    }
    .giftBtn{
        font-size: 1.5vw!important;
    }
}

@media (max-width: 576px) {
    .giftBtn{
        height: 40px;
        padding: 0;
    }
}

@media (max-width: 992px) {
    .menu{
        padding: 0!important;
    }
    .regForm input{
        height: 40px!important;
    }
    .regBtn{
        height: 40px!important;
        font-size: 2.5vw!important;
    }
    .regBtnTitle{
        height: 40px!important;
        font-size: 2.5vw!important;
    }
    .giftBtn{
        max-height: 40px!important;
        font-size: 2.5vw!important;
    }
}

.imgFooter{
    position: relative;
    top: 83px;
    left: 120px;
}

.footer{
    position: relative;
    min-height: 277px;
    padding-bottom: 30px;
    background: rgba(151, 77, 208, 0.65);
    clear: both;
}

.footerMenu{
    margin-top: 60px;
    padding: 0;
}

.footerMenu p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
}

.footerBottom{
    clear: both;
}

@media (max-width: 768px) {
    .footerMenu p{
        font-size: 15px;
        margin: 10px!important;
    }
    .copyright{
        font-size: 15px!important;
        padding: 10px!important;
    }
    .social i{
        padding-top: 10px!important;
    }
}

.copyright{
    padding-top: 105px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
}

.social img{
    font-size: 60px;
    color: #FFFFFF;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 90px;
}

/*User*/

.userItem {
    position: relative;
    width: 1100px;
    margin-left: 170px;
}

.userItemData {
    margin-top: 79px;
}

.userItemImg {
    position: relative;
    background: url("images/MeganFox.jpg") #FFFFFF center center;
    background-size: cover;
    border: 3px solid #7F2BC1;
    box-sizing: border-box;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    width: 258.67px;
    height: 258.67px;
    border-radius: 50%;
    left: 105px;

}


.userItemName {
    width: 217.72px;
    height: 250.77px;
    background: #7F2BC1;
    border-radius: 20px;
    margin-top: -86px;

    margin-left: 125px;


}

.userItemNameText {
    position: relative;
    top: 108px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

.userItemNameTextEdit{
    position: relative;
    margin-top: 120px;
}


.userDataName {
    display: block;
    height: 153px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: normal;
    margin-left: 0;
    margin-top: 79px;

    color: #535452;
}

.userDataWish {
    display: inline-block;
    width: 230px;
    height: 270px;
    background: #7F2BC1;
    border-radius: 20px;
}

.userDataWishImg {
    position: relative;
    width: 177px;
    height: 177px;
    margin-left: 26px;
    margin-top: 29px;

    background: url("images/apple_watch.png") #FFFFFF center center;
    background-size: cover;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.userDataWishName {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;

    color: #FFFFFF;

    margin-top: 12px;
}

.userDataNewWish {
    width: 230px;
    height: 270px;
    background: #F5BA3D;
    border-radius: 20px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;

    color: #FFFFFF;

}

.userDataWishLook {
    width: 230px;
    height: 57px;
    margin-top: 22px;
    background: #FDA736;
    border-radius: 20px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;

    color: #FFFFFF;

    margin-bottom: 117px;
}

/*Friend*/

.userFriendsHeader {
    margin-left: 105px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: normal;

    color: #535452;
}

.userFriendItem {
    position: relative;
    width: 1100px;
    margin-left: 170px;
}

.userFriendItemData {
    margin-top: 37px;
}

.userFriendItemImg {
    position: relative;
    background: url("images/MeganFox.jpg") #FFFFFF center center;
    background-size: cover;
    border: 3px solid #7F2BC1;
    box-sizing: border-box;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    width: 225px;
    height: 225px;
    border-radius: 50%;
}


.userFriendItemName {
    width: 189.38px;
    height: 218.12px;
    background: #7F2BC1;
    border-radius: 20px;
    margin-top: -86px;
    margin-left: 18px;
}



.userFriendItemNameText {
    position: relative;
    top: 108px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

/*Wish*/

.myWishesTitle {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: normal;

    color: #535452;
    left: 108px;
}

.myWishesName {
}

.myWishesNameLogo {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 300px;

    background: #535452;
    border-radius: 10px;
}

.myWishesNameLogo img {
    margin-top: 7px;
}

.myWishesNameText {
    position: relative;
    float: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: normal;
    margin-left: 20px;

    color: #535452;

}

.myWishesData {
    margin-top: 25px;
}

.myWishesFilter {
    padding-left: 139px;
}

.myWishesFilterEl {
    margin-top: 9px;
}

.myWishesFilterTitle {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;

    color: #535452;
}

.myWishesFilterName {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;

    color: #535452;
    padding: 0;
}

.myWishesDropdown {
    width: 174px;
    height: 30px;

    background: #FFFDFD;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;

    color: #535452;
}

.myWishesCreate {
    margin-top: 99px;
}

.myWishesCreateText {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: normal;

    color: #535452;
}

.myWishesCreateButton {
    width: 230px;
    height: 57px;
    background: #FDA736;
    border-radius: 20px;
    margin-top: 20px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;

    color: #FFFFFF;
}

.myWishesEl {
    height: 580px;
}

.myWishesElArr {
    margin-top: 240px;
}

.myWishesElData {
    float: left;
    width: 269px;
    height: 101px;
    margin-left: 40px;
    margin-bottom: 36px;
}

.myWishesElText {
    width: 269px;
    height: 52px;

    background: #7F2BC1;
    border-radius: 10px;
}
.myWishesElImg {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: -53px;

    background: url("images/apple_watch.png") #FFFFFF center center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.myWishesElInfo {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-left: 16px;

    background: #F5BA3D;
    border-radius: 10px;
}

.myWishesElInfo img {
    margin-top: 9px;
}

.myWishesElDel {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-left: 16px;

    background: #DC4E41;
    border-radius: 10px;
}

.myWishesElDel img {
    margin-top: 9px;
}


/*Edit*/

.userEditItemData {
    margin-top: 79px;
}

.userEditDataProfile {
    width: 259px;
    margin-left: 237px;
    margin-top: 90px;
    margin-bottom: 182px;
}

.userEditItemImg {
    position: relative;
    background: url("images/profile.svg") #FFFFFF center center;
    background-size: cover;
    border: 3px solid #7F2BC1;
    box-sizing: border-box;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    width: 258.67px;
    height: 258.67px;
    border-radius: 50%;

}


.userEditItemName {
    width: 217.72px;
    height: 250.77px;
    background: #7F2BC1;
    border-radius: 20px;
    margin-top: -86px;

    margin-left: 20px;


}

.userEditItemNameText {
    position: relative;
    top: 108px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

.userEditItemNameTextCloud{
    position: relative;
    margin-top: 120px;
}

.userEditDataData {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: normal;
    margin-top: 90px;


    color: #535452;
}

.userEditDataData img {
    position: relative;
    bottom: 10px;
    margin-left: 120px;
}

.userEditDataDataPW {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: normal;
    margin-top: 35px;


    color: #535452;
}

.userEditDataDataPW img {
    position: relative;
    bottom: 10px;
    margin-left: 120px;
}

.userEditDataSecond {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: normal;
    margin-top: 90px;


    color: #535452;
}

.userEditDataDataSecond img {
    position: relative;
    bottom: 10px;
    margin-left: 120px;
}

.userEditDataForm {
    width: 500px;
    height: 50px;

    background: #FFFDFD;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-top: 18px;
}

.userEditDataFormSmall {
    width: 155px;
    height: 50px;

    background: #FFFDFD;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-top: 18px;
}


.userEditDataFormDataName {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;

    color: #535452;

    margin-top: 11px;

}

.userEditDataFormData {
    width: 189px;
    height: 50px;

    background: #FFFDFD;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-top: 11px;
    margin-left: -15px;
}

.userEditDataFormGenderName {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;

    margin-top: 11px;


    color: #535452;
}

.userEditDataFormGenderDataMale {
    float: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    margin-top: 25px;

    color: #535452;
}

.userEditDataFormGenderDataFemale {
    float: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    margin-left: 30px;
    margin-top: 25px;

    color: #535452;
}

.userEditDataSave {
    width: 220px;
    height: 60px;
    left: 966px;
    top: 693px;

    background: #7F2BC1;
    border-radius: 20px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;

    color: #FFFFFF;

    margin-top: 29px;
    margin-left: 110px;
}

.userEditDataDataProfType {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    margin-top: 38px;
    margin-bottom: 10px;

    color: #535452;
}

.userEditDataDataMent {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    margin-top: 30px;

    color: #535452;

    position: relative;
}

.userEditDataDataMent input {
    position: relative;
    float: left;
}